{
	"presets": [
		"next/babel",
		"@emotion/babel-preset-css-prop"
	],
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"components": "./src/components",
					"constants": "./src/constants",
					"layout": "./src/layout",
					"lib": "./src/lib",
					"pages": "./src/pages",
					"server": "./src/server",
					"static": "./src/public/static",
					"styles": "./src/styles"
				}
			}
		],
		[
			"emotion",
			{
				"sourceMap": true,
				"cssPropOptimization": true
			}
		],
		["@babel/plugin-proposal-optional-chaining"]
	],
	"env": {
		"production": {
			"plugins": [
				[
					"remove-test-ids",
					{
						"attributes": [
							"data-testid"
						]
					}
				]
			]
		}
	}
}